$Regular: "Regular";
$Light: "Light";
$Medium: "Medium";
$Bold: "Bold";
$Black: "Black";
$Ultra: "Ultra";
$color-text-primary: #83899f;
$color-text-secondary: #183b56;
$color-text-active: #3e97ff;
$color-text-not-active: #b0bbd5;
