$Regular: "Regular";
$Light: "Light";
$Medium: "Medium";
$Bold: "Bold";
$Black: "Black";
$Ultra: "Ultra";
$color-text-primary: #83899f;
$color-text-secondary: #183b56;
$color-text-active: #3e97ff;
$color-text-not-active: #b0bbd5;

// .bg-main {
//   /* Color */
//   background-color: $background;
// }
// .bg-main-secondary {
//   /* Color */
//   background-color: $gray;
// }
// .bg-main-primary {
//   /* Color */
//   background-color: $primary;
// }

// .text-main-primary {
//   /* Color */
//   color: $primary;
// }

// .text-main-secondary {
//   /* Color */
//   color: $gray;
// }

// .border-primary {
//   border: 1px solid $primary;
// }

// .border-secondary {
//   border: 1px solid $gray;
// }
