/* Structure */
/* Layout */
/* Positioning */
/* Box Model */
/* Color */
/* Text */
/* Other */

@import "mixins";
@import "variables";

.home {
  .container {
    .row {
      height: 100vh;
    }
  }

  &_inner {
    /* BOx Model */
    border-radius: 10.5px;
    /* Other */
    overflow: hidden;

    .close {
      /* Box Model */
      margin : {
        top: 24px;
        left: 28px;
        bottom: 17px;
      }

      /* Position */
      left: 0;
      top: 0;
    }
  }

  &_right {
    /* Box Model */
    padding: {
      top: 66px;
      right: 50px;
    }

    /* Other */
    background: url("../../../../assets/images/bg.png") lightgray 50% / cover
      no-repeat;
    overflow: auto;

    & > p {
      /* Color */
      color: $color-text-primary;

      /* Text */
      font-size: 14px;
      line-height: 17px;

      /* Other */
      word-wrap: break-word;
    }

    & h2 {
      /* Box Model */
      width: 354px;
      height: 58px;

      /* Position */
      margin-bottom: 10px;

      /* Color */
      color: $color-text-secondary;

      /* Text */
      font : {
        size: 24px;
        weight: 500;
      }
      line-height: 28px;

      /* Other */
      word-wrap: break-word;

      @include FontFamily($Medium);
    }
  }

  &_heading {
    /* Position */
    margin: {
      bottom: 38px;
    }

    p {
      /* Box Model */
      width: 303px;
      height: 60px;

      /* Color */
      color: $color-text-primary;
      /* Text */
      font : {
        size: 16px;
      }

      /* Other */
      line-height: 20px;
      word-wrap: break-word;
    }
  }

  &_labels {
    .label {
      /* Box Model */
      gap: 14px;

      /* Box Model */
      margin-bottom: 25px;

      p {
        /*  Text */
        font-size: 14px;

        /* Other */
        word-wrap: break-word;
      }

      .bg {
        /* Box Model */
        width: 26px;

        /* Other */
        background-image: url("../../../../assets/images/Ellipse\ 2314.svg");
        background-repeat: no-repeat;
        background-size: 26px 26px;
        background-position: center;
      }
    }
  }

  &_left {
    /* Box Model */
    padding: {
      top: 66px;
      right: 20px;
      left: 33px;
    }

    /* Other */
    background: #fff;
    box-shadow: 0px 1.835px 30px 0px rgba(112, 144, 176, 0.1);
    overflow: auto;

    h4 {
      /* Box Model */
      margin-bottom: 9px;

      /* Color */
      color: $color-text-secondary;

      /* Text */
      font : {
        size: 20px;
        weight: 500;
      }
      @include FontFamily($Medium);

      /* Other */
      word-wrap: break-word;
    }

    .label {
      /* Box Model */
      margin-bottom: 20px;

      /* Color */
      color: $color-text-primary;

      /* Text */
      line-height: 20px;

      /* Other */
      word-wrap: break-word;
    }

    .box {
      /* Box Model */
      padding: {
        right: 15px;
        bottom: 27px;
      }

      .images {
        /* Box Model */
        margin : {
          top: 8px;
          bottom: 10px;
        }
      }

      .elips {
        /* Box Model */
        width: 12px;
        height: 12px;
        margin: {
          top: 7px;
          left: 7px;
        }

        img {
          /* Box Model */
          width: 16px;
          height: 16px;
        }
      }

      .child-one {
        /* Box Model */
        margin-bottom: 6px;

        /* Color */
        color: #2e2e2e;

        /* Other */
        word-wrap: break-word;
      }

      .child-two {
        /* Color */
        color: $color-text-primary;

        /* Text */
        font-size: 14px;

        /* Other */
        word-wrap: break-word;

        @include FontFamily($Regular);
      }

      &.Checked {
        /* Box Model */
        border: 0.75px solid #4f9ffd;
        border-radius: 6px;
      }
    }

    .parent_btn {
      /* Position */
      left: 32px;
      bottom: 20px;
    }

    button {
      /* Box Model */
      width: 198px;
      height: 34px;
      padding: 8px 24px;

      /* Color */
      background-color: #b0bbd5;
      color: white;

      /* Text */
      font-weight: 500;

      /* Other */
      word-wrap: break-word;
    }
  }
}
