<!-- <section>
  <div class="container">
    <p>{{ "userInfo.name" | translate }}</p>

    <p>{{ "userInfo.email" | translate }}</p>

    <p>{{ "userInfo.phone" | translate }}</p>

    <p>{{ "userInfo.address" | translate }}</p>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ "userInfo.lang" | translate }}
      </a>
      <ul class="dropdown-menu">
        <li
          [class.bg-info]="_translateService.currentLang == 'en'"
          (click)="change('en')"
        >
          <a class="dropdown-item">EN</a>
        </li>
        <li
          [class.bg-info]="_translateService.currentLang == 'ar'"
          (click)="change('ar')"
        >
          <a class="dropdown-item">AR</a>
        </li>
      </ul>
    </li>
  </div>
</section> -->

<!-- <app-pre-step></app-pre-step>  -->
<!-- <app-selection></app-selection> -->
<!-- <app-prob></app-prob> -->
<!-- <app-submissionl></app-submissionl> -->
