@import "mixins";
@import "variables";

.location {
  /* Overrideeeeeeeeeee */
  padding: 0;

  /* Box Model */
  /* Overrideeeeeeeeeee */

  // height: 100vh;

  .container {
    background-color: #fff;
  }

  &_title {
    /* box Model */
    width: fit-content;

    /* Positions */
    position: relative;
    margin-bottom: 80px;

    h1 {
      /* BoxModel */
      margin: auto auto 18px;
      width: fit-content;

      /* Color */
      color: black;

      /* Text */
      font-size: 20px;
      font-weight: 500;
      @include FontFamily($Medium);
      line-height: 21px;

      /* Other */
      word-wrap: break-word;
    }

    p {
      /* Color */
      color: #a5a7ab;

      /* Text */
      font: {
        size: 14px;
        weight: 900;
      }
      line-height: 21px;

      /* Other */
      @include FontFamily($Light);
      word-wrap: break-word;
    }

    &::after {
      /* Posistion */
      position: absolute;
      right: 32px;
      top: 6px;
      transform: translateY(-100%);

      /* Box Model */
      width: 13px;
      height: 16px;

      /* Other */
      background-size: 13px 16px;
      background-image: url("../../../../../../../assets/images/Vector.svg");
      content: "";
    }

    &::before {
      /* Posotion */
      left: -3px;
      position: absolute;
      bottom: 25px;
      transform: translate(-100%, 100%);
      /* Box Model */
      width: 18px;
      height: 21px;

      /* Other */
      content: "";
      background-image: url("../../../../../../../assets/images/Vector\ \(1\).svg");
      background-size: 18px 21px;
    }
  }

  &_cards {
    margin-bottom: 131px;

    .card {
      /* Box Model */
      border: 1px solid #ececec;
      border-radius: 6px;
      backdrop-filter: blur(10px);

      .elips {
        /* Box Model */
        margin : {
          top: 4px;
          right: 6px;
        }
      }

      figure {
        /* Box Model */
        width: 59px;
        height: 59px;
        margin: 25px 53px 19px 54px;
      }

      figcaption {
        /* Box Model */
        margin-bottom: 17px;

        /* Color */
        color: #2e2e2e;

        /* Text */
        font-size: 14px;

        /* Other */
        word-wrap: break-word;
        @include FontFamily($Regular);
      }
    }
  }

  &_footer {
    /* Color */
    color: #9ca3af;
    /* Text */
    font: {
      size: 12px;
      weight: 900;
    }
    line-height: 10px;

    /* Other */
    word-wrap: break-word;
    @include FontFamily($Light);
  }
}
