<app-type-and-location-house
  [location_title]="'typeHouse.location_heading' | translate"
  [location_heading]="'typeHouse.location_title' | translate"
  [cardImagePathOne]="cardImagePathOne"
  [cardTextOne]="'typeHouse.cardTextOne' | translate"
  [cardImagePathTwo]="cardImagePathTwo"
  [cardTextTwo]="'typeHouse.cardTextTwo' | translate"
  [cardImagePathThere]="cardImagePathThere"
  [cardTextThere]="'typeHouse.cardTextThree' | translate"
  [footerLabelOne]="'typeHouse.footerLabelOne' | translate"
  [footerLabelTwo]="'typeHouse.footerLabelTwo' | translate"
  [identifier]="'house'"
></app-type-and-location-house>
