<section class="status-message text-center">
  <app-headr
    [backImage]="'./assets/images/arrow-right.svg'"
    [backTitle]="'العودة'"
  ></app-headr>
  <div class="container">
    <div
      class="box-message"
      [ngClass]="imageFrame === 'pendding' ? 'mb-78' : 'mb-67'"
    >
      <h1 class="mb-0">{{ messageHead }}</h1>
      <p class="mb-0">{{ messageTitle }}</p>
    </div>

    <div
      class="imges-center d-flex justify-content-center align-items-center mx-auto"
      [ngClass]="imageFrame === 'pendding' ? 'imge-pendding' : 'imge-success'"
    >
      @if (imageFrame == 'pendding') {
      <figure class="mb-0 imge-pendding">
        <img class="w-100" [src]="imageSatus" alt="جاري الارسال" />
      </figure>
      } @else {
      <figure class="mb-0">
        <img class="w-100" [src]="imageSatus" alt="تم الارسال" />
      </figure>
      }
    </div>

    @if(showProgress) {
    <div class="progress-bar-container">
      <div
        class="labels d-flex justify-content-between align-items-center pb-2"
      >
        <span class="label-right mb-0">جارِ الإرسال</span>
        <span class="label-left mb-0">10\100</span>
      </div>
      <div class="progress-bar position-relative flex-grow-1">
        <div #progressDiv class="progress"></div>
      </div>
    </div>
    } @else {
    <p role="button" (click)="_router.navigate(['/home'])" class="exit">خروج</p>
    }
  </div>
</section>
