@import "variables";
@import "mixins";

.status-message {
  .box-message {
    &.mb-78 {
      margin-bottom: 78px;
    }
    &.mb-67 {
      margin-bottom: 67px;
    }

    h1 {
      /* BoxModel */
      padding-bottom: 12px;

      /* Color */
      color: #323338;

      /* Text */
      font-size: 24px;
      font-weight: 500;
      @include FontFamily($Medium);
      line-height: 21px;

      /* Other */
      word-wrap: break-word;

      @media (width<=400px) {
        line-height: normal;
      }
    }

    p {
      /* Color */
      color: #83899f;

      /* Text */
      font-size: 16;

      /* Other */
      word-wrap: break-word;
    }
  }

  .imges-center {
    &.imge-pendding {
      /* Box Model */
      min-height: 228px;
      min-width: 228px;
      margin-bottom: 101px;

      background-size: 228px 228px;
      background-position: center;
      background-repeat: no-repeat;
      /* Other */
      background-image: url("../../../assets/images/Ellipse 120.svg");
    }

    &.imge-success {
      margin-bottom: 84px;
    }
  }
  .progress-bar-container {
    .label-left,
    .label-right {
      /* Text */
      font-size: 14px;

      /* Color */
      color: #000;

      /* Other */
      word-wrap: break-word;
    }

    .label-left {
      font-family: Inter;
    }
    .progress-bar {
      /* Box Model */
      height: 11.5px;
      border-radius: 12.14px;
      /* Color */
      background-color: #c5e0ff;

      /* Other */
      overflow: hidden;
    }

    .progress {
      /* Box Model */
      height: 100%;
      width: 20%;
      border-radius: 10px;

      /* Colo */
      background-color: #3e97ff;

      /* Other */
      transition: all 5s;
    }
    .done-proccess {
      width: 100%;
    }
  }
  .exit {
    /* Color */
    color: #3e97ff;

    /* Other */
    word-wrap: break-word;
  }
}
