<div class="header d-flex justify-content-between align-items-center">
  <figure
    (click)="goBack()"
    class="mb-0 d-flex justify-content-between align-items-center back"
  >
    <img [src]="backImage" alt="sendMsg.Title | translate" />
    <figcaption>{{ backTitle }}</figcaption>
  </figure>

  <div class="">
    <select
      class="form-select text-bg-secondary"
      (change)="changeLanguage($event)"
    >
      <option
        [class.bg-secondary]="_translateService.currentLang == 'ar'"
        (click)="change('ar')"
        value="en"
      >
        English
      </option>
      <option
        [class.bg-secondary]="_translateService.currentLang == 'en'"
        (click)="change('en')"
        value="ar"
      >
        Arabic
      </option>
    </select>
  </div>

  <figure class="mb-0">
    <img [src]="close" alt=" close" />
  </figure>
</div>
