@import "variables";
@import "mixins";

.header {
  /* Box Model */
  padding: {
    top: 23px;
    left: 27px;
    right: 27px;
  }
  margin-bottom: 60px;

  figcaption {
    /* Box Model */
    padding-right: 4px;

    /* Color */
    color: $color-text-primary;

    /* Text */
    font : {
      size: 14px;
    }
    line-height: 14px;
    @include FontFamily($Regular);
    /* Other */
    word-wrap: break-word;
  }

  .back {
    cursor: pointer;
  }
}
