<section class="location text-center">
  <div class="container d-flex flex-column h-100">
    <app-headr
      [backTitle]="'العودة'"
      [backImage]="'./assets/images/arrow-right.svg'"
    ></app-headr>

    <div class="location_title mx-auto">
      <h1>
        {{ location_heading }}
      </h1>
      <p>{{ location_title }}</p>
    </div>

    <div class="location_cards d-flex justify-content-center gap-3">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <span class="d-block ms-auto elips">
              <img src="./assets/images/Ellipse 2314.svg" alt="" />
            </span>

            <figure>
              <img [src]="cardImagePathOne" [alt]="cardTextOne" />
            </figure>
            <figcaption>{{ cardTextOne }}</figcaption>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <div class="card">
            <span class="d-block ms-auto elips">
              <img src="./assets/images/Ellipse 2314.svg" alt="" />
            </span>

            <figure>
              <img [src]="cardImagePathTwo" [alt]="cardTextTwo" />
            </figure>

            <figcaption class="">{{ cardTextTwo }}</figcaption>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <div class="card">
            <span class="d-block ms-auto elips">
              <img src="./assets/images/Ellipse 2314.svg" alt="" />
            </span>

            <figure>
              <img [src]="cardImagePathThere" [alt]="cardTextThere" />
            </figure>
            <figcaption class="">{{ cardTextThere }}</figcaption>
          </div>
        </div>
      </div>
    </div>

    <app-button
      [imagePath]="imagePath"
      [haveImge]="true"
      [disabled]="true"
      [isMb_32]="true"
      [label]="
        '
    أبدأ الأن'
      "
    ></app-button>

    <div class="location_footer">
      <p>{{ footerLabelOne }}</p>
      <p>
        {{ footerLabelTwo }}
      </p>
    </div>
  </div>
</section>
