@import "mixins";
@import "variables";

.sendMsg {
  .container {
    &::before {
      /* Posistion */
      position: absolute;
      top: 0px;

      /* Box Model */
      min-width: 144px;
      min-height: 144px;

      /* Other */
      background-position: center;
      background-size: cover;
      background-image: url("../../../../../assets/images/Group 1000017861.svg");
      content: "";
    }
  }

  &_title {
    /* Box Model */
    margin-bottom: 31px;

    h2 {
      /* Box Model */
      width: fit-content;
      margin-bottom: 14px;

      /* Text */
      font : {
        size: 20px;
        weight: 500;
      }
      @include FontFamily($Medium);

      /* Other */
      line-height: 21px;
      word-wrap: break-word;
    }

    p {
      /* Color */
      color: #a5a7ab;

      /* Text */
      font-size: 14px;
      line-height: 21px;

      /* Other */
      word-wrap: break-word;
    }
  }

  .select-box {
    /* Box Model */
    border: 0.75px solid #d3d6dc66;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 22px;

    /* Color */
    background-color: #f2f4f7;

    .media-content {
      /* Box Model */
      gap: 4px;
      margin-bottom: 6px;
    }
    .inner-check {
      /* Box Model */
      gap: 37px;
    }
    .form-checked {
      label {
        /* Box Model */
        width: fit-content;
      }
    }
  }

  .box-area {
    /* Box Model */
    margin-bottom: 20px;

    .text-box {
      /* Box Model */
      border: 0.75px solid #d3d6dc66;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 12px 12px 10px;

      /* Color */
      background-color: #f2f4f7;

      .media-content {
        p {
          /* Color */
          color: #a5a7ab;

          /* Text */
          font-size: 14px;
          line-height: 21px;

          /* Other */
          word-wrap: break-word;
        }
      }

      .subject {
        span {
          /* Text */
          font-size: 14px;
          line-height: 28px;

          /* Other */
          word-wrap: break-word;
        }
        &_label {
          /* Color */
          color: #8a8ea1;
        }
        &_description {
          /* Color */
          color: #1c1c28;
        }
      }
    }

    .form-box {
      textarea {
        /* Box Model */
        padding: 16px;
        min-height: 298px;
        border-radius: 0;
        border-top: 0.75px solid rgba(211, 214, 220, 0.4);
        box-shadow: 0px 3px 7.599999904632568px
          rgba(145.78, 145.78, 145.78, 0.1);

        /* Text */
        font-size: 14px;
        line-height: 21px;
        word-wrap: break-word;
        text-align: right;

        &.form-control:focus {
          /* Box Model */
          border-color: rgba(211, 214, 220, 0.4);
          box-shadow: none;
        }
      }
    }
  }
}
