<section class="sendMsg">
  <app-headr
    [backTitle]="'sendMsg.backTitle' | translate"
    [backImage]="'./assets/images/arrow-right.svg'"
  ></app-headr>
  <div class="container position-relative">
    <div class="sendMsg_title">
      <h2>{{ "sendMsg.title" | translate }}</h2>
      <p>{{ "sendMsg.subtitle" | translate }}</p>
    </div>

    <div class="select-box">
      <div class="media-content d-flex align-items-center">
        <img src="../../../../../../assets/images/calendar-tick.svg" alt="" />
        <p class="mb-0">{{ "sendMsg.designLabel" | translate }}</p>
      </div>

      <div class="inner-check d-flex align-items-center">
        <div class="form-checked d-flex justify-content-start gap-1">
          <label class="form-check-label" for="flexRadioDefault1">
            {{ "sendMsg.modernDesign" | translate }}
          </label>
          <input
            class="form-check-input"
            type="radio"
            value=""
            id="flexRadioDefault1"
            name="flexRadioDefault"
            #option2
            (change)="onRadioChange(option2, 'IsCheckedTwo')"
          />
        </div>
        <div class="form-checked d-flex justify-content-start gap-1">
          <label class="form-check-label" for="flexRadioDefault2">
            {{ "sendMsg.smartDesign" | translate }}
          </label>
          <input
            class="form-check-input"
            type="radio"
            value=""
            name="flexRadioDefault"
            id="flexRadioDefault2"
            #option1
            (change)="onRadioChange(option1, 'IsCheckedOne')"
          />
        </div>
      </div>
    </div>

    <div class="box-area">
      <div class="text-box">
        <div class="media-content d-flex align-items-center mb-2 gap-1">
          <img src="../../../../../../assets/images/eye.svg" alt="" />
          <p class="mb-0">{{ "sendMsg.previewLabel" | translate }}</p>
        </div>
        <p class="subject mb-0">
          <span class="subject_label">{{
            "sendMsg.subjectLabel" | translate
          }}</span>
          <span class="subject_description pe-2">{{
            "sendMsg.subjectDescription" | translate
          }}</span>
        </p>
      </div>
      <div class="form-box">
        <textarea
          class="form-control"
          placeholder="{{ 'sendMsg.textareaPlaceholder' | translate }}"
          id="leble"
          [(ngModel)]="msg"
        ></textarea>
      </div>
    </div>

    <app-button
      class="mb-0"
      [isMe_auto]="false"
      [haveImge]="false"
      [label]="'sendMsg.nextStepButton' | translate"
      [isMb_32]="false"
      [disabled]="IsCheckedOne || IsCheckedTwo"
      (click)="nextStep(IsCheckedOne || IsCheckedTwo)"
    ></app-button>
    <p class="text-center">
      {{ "sendMsg.startButtonText" | translate }}
    </p>
  </div>
</section>
