<app-type-and-location-house
  [location_title]="'typeLocation.location_title' | translate"
  [location_heading]="'typeLocation.location_heading' | translate"
  [cardImagePathOne]="cardImagePathOne"
  [cardTextOne]="'typeLocation.cardTextOne' | translate"
  [cardImagePathTwo]="cardImagePathTwo"
  [cardTextTwo]="'typeLocation.cardTextTwo' | translate"
  [cardImagePathThere]="cardImagePathThere"
  [cardTextThere]="'typeLocation.cardTextThree' | translate"
  [footerLabelOne]="'typeLocation.footerLabelOne' | translate"
  [footerLabelTwo]="'typeLocation.footerLabelTwo' | translate"
  [identifier]="'location'"
></app-type-and-location-house>
