<section class="dischouse">
  <div>
    <app-headr
      [backTitle]="'dischouse.backTitle' | translate"
      [backImage]="'./assets/images/arrow-right.svg'"
    ></app-headr>
  </div>
  <div class="container position-relative">
    <h2 class="position-relative">
      {{ "dischouse.headerTitle" | translate }}
    </h2>
    <div>
      <div class="formcontrol mb-3">
        <label for="formGroupExampleInput" class="form-label mb-2">
          {{ "dischouse.shortDescriptionLabel" | translate }}
        </label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          [placeholder]="'dischouse.shortDescriptionPlaceholder' | translate"
          [(ngModel)]="msgeValue"
        />
      </div>

      <div class="text-editoes">
        <p class="mb-1">
          {{ "dischouse.expressiveDescriptionLabel" | translate }}
        </p>
        <quill-editor
          class="w-100"
          [modules]="editorModules"
          [styles]="{ height: '297px' }"
          (onEditorChanged)="changedEditor($event)"
        ></quill-editor>
      </div>
    </div>

    <app-button
      class="mb-0"
      [isMe_auto]="false"
      [haveImge]="false"
      [disabled]="msgeValue.length > 10"
      [label]="'dischouse.nextStepButton' | translate"
      [isMb_32]="false"
      (click)="nextStep(msgeValue.length > 10)"
    ></app-button>
    <p class="text-center">
      {{ "dischouse.startButtonText" | translate }}
    </p>
  </div>
</section>
