.form-check-input[type="radio"] {
  /* Box Model */
  min-width: 16px;
  height: 16px;

  border: 0;

  /* Other */
  background-color: transparent;
  --bs-form-check-bg-image: url("../../../assets/images/Ellipse\ 2314.svg");
}

.form-check-input:focus {
  /* Other */
  box-shadow: none;
}
.form-check-input:checked[type="radio"] {
  /* BoX Model */
  width: 16px;
  height: 16px;

  /* Other */
  background-color: transparent;
  --bs-form-check-bg-image: url("../../../..../../assets/images/Primary.svg");
}
.transparent-checkebox .form-check-input[type="radio"] {
  background: none;
  border: 1px solid #000;
}
.transparent-checkebox .form-check-input:checked[type="radio"] {
  background-image: url("../../../..../../assets/images/Primary.svg");
}
